importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(MatrixModels, model.Matrix)
export(
  "fm",
  "model.control",
  "solver.control",
  "validation.control",
  "MCMC.solver",
  "ALS.solver",
  "SGD.solver",
  "FTRL.solver",
  "TDAP.solver",
  "predict.FM.c",
  "validate",
  "validate.FM.c",
  "plot.FM.c.v"
)
useDynLib(FMwR)
